{% extends 'base.html' %}

{% block content %}
<div class="container">
	<div class="text-center"><a href="/">На главную</a></div>
	<h1 class="text-center">Кадровый состав</h1>
	<div class="row">
		<div class="col-md-offset-3 col-md-3">
			<div class="row">
				<div>Отдел:</div>
				<div class="dropdown">
				  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
				  	{% if departament %}
				    {{ departament.title }}
				    {% else %}
				    Все
				    {% endif %}
				    <span class="caret"></span>
				  </button>
				  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
				    <li><a href="{{ request.path }}{% if is_employee %}?is_employee={{ is_employee }}&{% endif %}">Все</a></li>
				    <li role="separator" class="divider"></li>
				    {% for d in departament_list %}
				    <li><a href="{{ request.path }}?{% if is_employee %}is_employee={{ is_employee }}&{% endif %}departament={{ d.id }}">{{ d.title }}</a></li>
				    {% endfor %}
				  </ul>
				</div>
			</div>			
		</div>
		<div class="col-md-3">
			<div class="row">
				<div>Сотрудник?</div>
				<div class="dropdown">
				  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
				  	{% if not is_employee %}
				    Все
				    {% elif is_employee == "1" %}
				    Работает в компании
				    {% else %}
				    Не работает в компании
				    {% endif %}
				    <span class="caret"></span>
				  </button>
				  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
				    <li><a href="{{ request.path }}{% if departament %}?departament={{ departament.id }}&{% endif %}">Все</a></li>
				    <li role="separator" class="divider"></li>
				    <li><a href="{{ request.path }}?{% if departament %}departament={{ departament.id }}&{% endif %}is_employee=1">Работает в компании</a></li>
				    <li><a href="{{ request.path }}?{% if departament %}departament={{ departament.id }}&{% endif %}is_employee=0">Не работает в компании</a></li>
				  </ul>
				</div>
			</div>
		</div>
	</div>

	<table class="table">
		<thead>
			<tr class="row">
		  	<th class="col-md-3">Сотрудник</th>
	  		<th class="col-md-3">Подразделение</th>
	  	</tr>
	  </thead>
	  <tbody>
		  {% for empl in employee_list %}
		  <tr class="row">
		    <td class="col-md-3"><a href="/employee/{{ empl.id }}/" target="_blank">{{ empl.person }}</a></td>
		    <td class="col-md-3">{% if empl.date_fired %}-{% else %}{{ empl.departament }}{% endif %}</td>
		  </tr>
		  {% endfor %}
		</tbody>
  </table>

  {% if is_paginated %}
	<nav aria-label="Page navigation">
		<div class="row row-centered">
			<div class="col-centered">
		  <ul class="pagination">
	      {% if page_obj.has_previous %}
		    <li>
		      <a href="?{% if departament %}departament={{ departament.id }}&{% endif %}{% if is_employee %}is_employee={{ is_employee }}&{% endif %}page={{ page_obj.previous_page_number }}" aria-label="Предыдущая">
		        <span aria-hidden="true">&laquo;</span>
		      </a>
		    </li>
	      {% endif %}
		    <li><a href="#">{{ page_obj.number }} из {{ page_obj.paginator.num_pages }}</a></li>
	      {% if page_obj.has_next %}
		    <li>
		      <a href="?{% if departament %}departament={{ departament.id }}&{% endif %}{% if is_employee %}is_employee={{ is_employee }}&{% endif %}page={{ page_obj.next_page_number }}" aria-label="Следующая">
		        <span aria-hidden="true">&raquo;</span>
		      </a>
		    </li>
	      {% endif %}
		  </ul>
		  </div>
	  </div>
	</nav>
  {% endif %}
</div>
{% endblock %}