{% extends 'base.html' %}

{% block content %}
<div class="container">
	<h1>Карточка сотрудника</h1>
	<div class="row">
		<div class="col-md-2">Сотрудник</div>
		<div>{{ object }}</div>
	</div>
	<div class="row">
		<div class="col-md-2">Дата рождения</div>
		<div>{{ object.person.birth_date|date:"j E Y" }}</div>
	</div>
	<div class="row">
		<div class="col-md-2">email</div>
		<div>{{ object.person.email }}</div>
	</div>
	<div class="row">
		<div class="col-md-2">Контактный телефон</div>
		<div>{{ object.person.phone }}</div>
	</div>

	<div class="row">
		<div class="col-md-2">Подразделение</div>
		<div>{{ object.departament }}</div>
	</div>
	<div class="row">
		<div class="col-md-2">Должность</div>
		<div>{{ object.post }}</div>
	</div>
	<div class="row">
		<div class="col-md-2">Принят на работу</div>
		<div>{{ object.date_joined|date:"j E Y" }}</div>
	</div>
	<div class="row">
	{% if object.date_fired %}
		<div class="col-md-2">Уволен</div>
		<div>{{ object.date_fired|date:"j E Y" }}</div>
	{% else %}
		<div class="col-md-12">Действующий сотрудник</div>
	{% endif %}
	</div>
</div>
{% endblock %}