{% extends 'base.html' %}

{% block content %}
<div class="container text-center">
	<div><a href="/employees/">Список работников с фильтрами</a></div>
	<div><a href="/persons/">Список фамилий</a></div>
</div>
{% endblock %}