{% extends 'base.html' %}

{% block content %}
<div class="container">
	<div class="text-center"><a href="/">На главную</a></div>
	<h1 class="text-center">Справочник фамилий</h1>

	<style>
		.navbar .navbar-nav {
		  display: inline-block;
		  float: none;
		  vertical-align: top;
		}

		.navbar .navbar-collapse {
		  text-align: center;
		}
	</style>
	<nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	    </div>

	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav">
	      	{% if filter %}
	        <li><a href="?">Все</a></li>
	        {% else %}
	        <li class="active"><a href="?">Все <span class="sr-only">(current)</span></a></li>
	        {% endif %}
	        {% for filter_item in filter_list %}
	        	{% if filter == filter_item.value %}
		        <li class="active"><a href="?filter={{ filter_item.value }}">{{ filter_item.label }} <span class="sr-only">(current)</span></a></li>
	        	{% else %}
		        <li><a href="?filter={{ filter_item.value }}">{{ filter_item.label }}</a></li>
	        	{% endif %}
	        {% endfor %}
	      </ul>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>

	<table class="table">
		<thead>
			<tr class="row">
		  	<th class="col-md-3">Фамилия</th>
	  	</tr>
	  </thead>
	  <tbody>
		  {% for person in object_list %}
		  <tr class="row">
		    <td class="col-md-3">{{ person.last_name }}</td>
		  </tr>
		  {% endfor %}
		</tbody>
  </table>
</div>
{% endblock %}